---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import Benefits from "../sections/Benefits.astro";
import Pricing from "../sections/Pricing.astro";
import FAQ from "../sections/FAQ.astro";
import AboutUs from "../sections/AboutUs.astro";
import Contact from "../sections/Contact.astro";
---

<Layout title="Greenhouse" language="en">
	<main>
		<Hero id="home" language="en" />
		<Benefits id="benefits" language="en" />
		<Pricing id="pricing" language="en" />
		<FAQ id="faq" language="en" />
		<AboutUs id="about" language="en" />
		<Contact id="contact" language="en" />
	</main>
</Layout>
