---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../sections/Hero.astro";
import Benefits from "../../sections/Benefits.astro";
import Pricing from "../../sections/Pricing.astro";
import FAQ from "../../sections/FAQ.astro";
import AboutUs from "../../sections/AboutUs.astro";
import Contact from "../../sections/Contact.astro";
---

<Layout title="Greenhouse" language="es">
	<main>
		<Hero id="inicio" language="es" />
		<Benefits id="beneficio" language="es" />
		<Pricing id="planes" language="es" />
		<FAQ id="preguntas-frecuentes" language="es" />
		<AboutUs id="acerca" language="es" />
		<Contact id="contacto" language="es" />
	</main>
</Layout>
