---
import Layout from "../../layouts/Layout.astro";
import {Content} from '../../content/legal/terms-and-conditions/es.md';
---

<Layout title="Greenhouse | Términos y condiciones" language="es">
  <main class="bg-light min-h-screen">
    <div class="max-w-screen-md mx-auto pt-32 p-8">
      <Content />
    </div>
  </main>
</Layout>

<style is:global>
  h1 {
    font-size: 4rem;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
</style>